---
import type { HTMLAttributes } from 'astro/types';
import { X } from 'lucide-astro';
import { twMerge } from 'tailwind-merge';
import Button from '../../button.astro';

type Props = HTMLAttributes<'div'>;

const { class: className, ...props } = Astro.props;
---

<div {...props} class={twMerge('sticky inset-x-0 top-0 border-b bg-inherit px-6 py-4', className)}>
  <slot />
  <Button
    size="icon"
    color="ghost"
    aria-label="Close"
    class="absolute right-0.5 top-0.5"
    @click="$root.close()"
  >
    <X />
  </Button>
</div>
