---
import Button from '@phantom/ui/button.astro';
import Command from '@phantom/ui/command.astro';
import Link from '@phantom/ui/link.astro';
import Separator from '@phantom/ui/separator.astro';
import { Github, Search } from 'lucide-astro';
import favicon from '../../public/favicon.svg';
import NavigationMobile from './navigation-mobile.astro';
import Theme from './theme.astro';
---

<header class="bg-surface-1 rounded-t-2xl border-b">
  <div class="mx-auto flex h-14 max-w-screen-2xl items-center gap-2">
    <a href="/" aria-label="Home"><img src={favicon.src} alt="Phantom" class="size-6" /></a>
    <Button color="ghost" size="sm" outline class="ml-auto hidden gap-24 lg:flex">
      Search Documentation <Command value="⌘+K" />
    </Button>
    <Separator orientation="vertical" class="ml-4 mr-2 hidden h-3/5 lg:block" />
    <Button color="ghost" size="icon" aria-label="Seach Documentation" class="ml-auto lg:hidden">
      <Search />
    </Button>
    <Theme />
    <Link button href="https://github.com" aria-label="Source code" color="ghost" size="icon">
      <Github aria-hidden />
    </Link>
    <Separator orientation="vertical" class="ml-1 mr-2 h-3/5 lg:hidden" />
    <div class="lg:hidden"><NavigationMobile /></div>
  </div>
</header>
