---
import Link from '@phantom/ui/link.astro';
import Separator from '@phantom/ui/separator.astro';
import { type HTMLAttributes } from 'astro/types';
import { Hash } from 'lucide-astro';
import { twJoin, twMerge } from 'tailwind-merge';

type Props = HTMLAttributes<'h2'>;

const { class: className, ...props } = Astro.props;
---

<div class="text-md mb-4 mt-12 flex flex-col gap-1 font-semibold uppercase first:mt-0">
  <Link href={`#${props.id}`} class={twMerge('group flex max-w-max gap-1', className)}>
    <h2 {...props}><slot /></h2>
    <Hash
      aria-hidden
      class={twJoin(
        'stroke-foreground-2 size-4 opacity-0 group-hover:opacity-100',
        'group-focus-visible:opacity-100 motion-safe:transition-[opacity]',
      )}
    />
  </Link>
  <Separator />
</div>
