---
import Button from '@phantom/ui/button.astro';
import Collapsible from '@phantom/ui/collapsible.astro';
import type { HTMLAttributes } from 'astro/types';
import { ChevronsUpDown } from 'lucide-astro';
import { twJoin, twMerge } from 'tailwind-merge';

type Props = HTMLAttributes<'div'>;

const { class: className, ...props } = Astro.props;
---

<div {...props} class={twMerge('mt-6 rounded border', className)}>
  <div
    class={twJoin(
      'flex justify-center border-b bg-[size:5px_5px] p-8',
      'bg-[radial-gradient(hsl(var(--surface-3)/0.75)_1px,transparent_0)]',
    )}
  >
    <slot name="example" />
  </div>
  <Collapsible>
    <Button slot="collapsible-trigger" color="ghost" size="sm">
      <span x-text="expanded ? 'Collapse Code' : 'Expand Code'"></span>
      <ChevronsUpDown aria-hidden class="size-3" />
    </Button>
    <div class="border-t *:border-0"><slot /></div>
  </Collapsible>
</div>
