---
import type { HTMLAttributes } from 'astro/types';
import { twMerge } from 'tailwind-merge';

type Props = HTMLAttributes<'h3'>;

const { class: className, ...props } = Astro.props;
---

<h3 {...props} class={twMerge('mb-2 px-6', className)}><slot /></h3>
