---
import type { HTMLAttributes } from 'astro/types';
import { twMerge } from 'tailwind-merge';

type Props = HTMLAttributes<'h2'>;

const { class: className, ...props } = Astro.props;
---

<h2 {...props} class={twMerge('text-lg font-semibold', className)}><slot /></h2>
