---
import type { HTMLAttributes } from 'astro/types';
import { twMerge } from 'tailwind-merge';
import { tv, type VariantProps } from 'tailwind-variants';

const variants = tv({
  base: 'inline-flex items-center justify-center rounded-full text-xs px-2 py-0.5',
  defaultVariants: { color: 'primary' },
  variants: {
    color: {
      primary: '',
      secondary: '',
      outline: 'border',
      danger: '',
    },
  },
});

type Props = HTMLAttributes<'div'> & VariantProps<typeof variants>;

const { class: className, color, ...props } = Astro.props;
---

<div {...props} class={twMerge(variants({ color }), className)}><slot /></div>
