---
import type { HTMLAttributes } from 'astro/types';
import { twMerge } from 'tailwind-merge';
import { tv, type VariantProps } from 'tailwind-variants';

type Props = HTMLAttributes<'a'> & VariantProps<typeof variants>;

const variants = tv({
  base: 'inline-flex items-center gap-1 rounded focus-visible:ring-1 focus-visible:outline-none',
  defaultVariants: { active: true },
  variants: { active: { true: 'text-foreground-1', false: 'text-foreground-2' } },
});

const { class: className, href, target, rel, active, ...props } = Astro.props;
const internal = /^\/|^#/.test(href?.toString() ?? '');
---

<a
  {...props}
  {href}
  target={target ?? (internal ? target : '_blank')}
  rel={rel ?? (internal ? rel : 'noopener noreferrer')}
  class={twMerge(variants({ active }), className)}
>
  <slot />
</a>
