---
import type { HTMLAttributes } from 'astro/types';
import { AlertOctagon, Info, Lightbulb } from 'lucide-astro';
import { twMerge } from 'tailwind-merge';

type Props = HTMLAttributes<'aside'> & { type?: Type; title?: string | undefined };
export type Type = 'info' | 'tip' | 'danger';

const id = crypto.randomUUID();
const { class: className, type = 'info', title, ...props } = Astro.props;
---

<aside
  {...props}
  aria-labelledby={id}
  class={twMerge('bg-surface-2 flex flex-col gap-2 rounded border border-l-8 px-4 py-3', className)}
>
  <h4 {id} class="flex items-center gap-2 font-semibold tracking-wide">
    {type === 'info' && <Info class="text-foreground-2 size-4 shrink-0" />}
    {type === 'tip' && <Lightbulb class="text-foreground-2 size-4 shrink-0" />}
    {type === 'danger' && <AlertOctagon class="text-foreground-2 size-4 shrink-0" />}
    {title}
  </h4>
  <section class="text-foreground-2 text-sm"><slot /></section>
</aside>
