---
import type { HTMLAttributes } from 'astro/types';
import { twMerge } from 'tailwind-merge';
import { tv, type VariantProps } from 'tailwind-variants';

const variants = tv({
  base: 'shrink-0 rounded bg-[hsl(var(--border))]',
  defaultVariants: { orientation: 'horizontal' },
  variants: {
    orientation: {
      horizontal: 'h-[1px] w-full',
      vertical: 'h-full w-[1px]',
    },
  },
});

type Props = HTMLAttributes<'div'> & VariantProps<typeof variants>;

const { class: className, orientation, ...props } = Astro.props;
---

<div {...props} role="none" class={twMerge(variants({ orientation }), className)}></div>
