---
import type { HTMLAttributes } from 'astro/types';
import { twMerge } from 'tailwind-merge';

type Props = HTMLAttributes<'input'>;

const { class: className, ...props } = Astro.props;
---

<div
  class={twMerge(
    'bg-surface-3 relative h-5 w-9 rounded-full border border-transparent after:absolute after:content-[""]',
    'after:bg-surface-1 after:inset-y-1/2 after:start-[2px] after:size-4 after:-translate-y-1/2 after:rounded-[inherit]',
    'has-[input:checked]:bg-surface-primary has-[input:disabled]:opacity-80 has-[input:focus-visible]:ring-1',
    'has-[input:checked]:after:translate-x-[calc(100%-2px)] motion-safe:transition-colors motion-safe:after:transition-transform',
    'rtl:peer-checked:after:-translate-x-full',
    className,
  )}
>
  <input
    {...props}
    type="checkbox"
    role="switch"
    class="absolute -inset-1 z-20 cursor-pointer opacity-0 disabled:cursor-not-allowed"
  />
</div>
