---
import { SwatchBook } from 'lucide-astro';
import Button from './button.astro';
---

<Button data-theme color="ghost" size="icon" aria-label="Theme"><SwatchBook aria-hidden /> </Button>

<script is:inline>
  function setTheme(doc = document) {
    if ('theme' in localStorage)
      doc.documentElement.setAttribute('color-scheme', localStorage.getItem('theme'));
    else if (window.matchMedia('(prefers-color-scheme: dark)').matches)
      doc.documentElement.setAttribute('color-scheme', 'dark');
    else doc.documentElement.setAttribute('color-scheme', 'light');
  }

  setTheme();
  document.addEventListener('astro:before-swap', (event) => setTheme(event.newDocument));
</script>

<script>
  import { onInit } from '@phantom/utils/component';

  // TEMPORARY: This will be replaced by a proper theme switcher
  onInit<HTMLButtonElement>('[data-theme]', (component) => {
    component.addEventListener('click', () => {
      const currentTheme = document.documentElement.getAttribute('color-scheme');
      const nextTheme = currentTheme === 'dark' ? 'light' : 'dark';
      document.documentElement.setAttribute('color-scheme', nextTheme);
      localStorage.setItem('theme', nextTheme);
    });
  });
</script>
