---
import Layout from '@phantom/docs/layouts/index.astro';
import Separator from '@phantom/ui/separator.astro';
import { Construction } from 'lucide-astro';
---

<Layout class="max-w-screen-md">
  <section class="flex flex-col items-center gap-1">
    <h1 class="text-xl">Internal Development Playground</h1>
    <div class="text-foreground-2 flex items-center justify-center gap-4">
      <Construction class="size-5" />
      <p>Used for testing new features and components. This page is not public</p>
      <Construction class="size-5" />
    </div>
  </section>
  <Separator class="mb-80 mt-6" />
  <section></section>
</Layout>
