---
import type { HTMLAttributes } from 'astro/types';
import { tv, type VariantProps } from 'tailwind-variants';

const variants = tv({
  base: 'gap-2 rounded flex',
  defaultVariants: { elevation: 'flat', grow: false },
  variants: {
    grow: { true: '!max-w-none *:flex-1' },
    position: {
      start: 'justify-start mr-auto',
      center: 'justify-center mx-auto',
      end: 'justify-end ml-auto',
    },
    elevation: {
      flat: '[box-shadow:0_-1px_0_hsl(var(--border))_inset]',
      raised: 'max-w-max bg-surface-3 p-1 [&_[aria-selected=true]]:bg-surface-1 *:after:hidden',
    },
  },
});

type Props = HTMLAttributes<'div'> & VariantProps<typeof variants>;

const { class: className, elevation, grow, position, ...props } = Astro.props;
---

<div
  {...props}
  role="tablist"
  @keydown.right.prevent.stop="$focus.wrap().next()"
  @keydown.left.prevent.stop="$focus.wrap().prev()"
  @keydown.home.prevent.stop="$focus.first()"
  @keydown.end.prevent.stop="$focus.last()"
  class={variants({ elevation, grow, position, className })}
>
  <slot />
</div>
