---
import type { HTMLAttributes } from 'astro/types';
import { twMerge } from 'tailwind-merge';

type Props = HTMLAttributes<'div'>;

const { class: className, ...props } = Astro.props;
---

<div
  {...props}
  role="menu"
  id={crypto.randomUUID()}
  aria-activedescendant=""
  tabindex="-1"
  class={twMerge(
    'bg-surface-1 absolute left-1/2 top-[calc(100%+0.5rem)] z-50 w-56 -translate-x-1/2 rounded border text-sm',
    'overflow-y-auto overflow-x-hidden p-1 focus-visible:outline-none group-data-[open=false]:hidden',
    'animate-in motion-safe:fade-in-0 motion-safe:zoom-in-95 motion-safe:slide-in-from-left-1/2',
    className,
  )}
>
  <slot />
</div>
