---
import type { HTMLAttributes } from 'astro/types';
import { twMerge } from 'tailwind-merge';

type Props = HTMLAttributes<'div'>;

const { class: className, ...props } = Astro.props;
---

<div {...props} role="group" class={twMerge('border-b py-1 last-of-type:border-b-0', className)}>
  <slot />
</div>
