---
import type { HTMLAttributes } from 'astro/types';
import { twJoin, twMerge } from 'tailwind-merge';

type Props = HTMLAttributes<'div'> & { checked?: boolean; disabled?: boolean };

const { class: className, checked, disabled, ...props } = Astro.props;
---

<div
  {...props}
  id={crypto.randomUUID()}
  role="menuitemradio"
  data-focused="false"
  aria-checked={checked ? 'true' : 'false'}
  aria-disabled={disabled ? 'true' : 'false'}
  class={twMerge(
    'group flex cursor-pointer items-center justify-between gap-2 rounded px-2 py-1',
    'aria-[disabled=false]:hover:bg-surface-neutral/80 data-[focused=true]:bg-surface-neutral/80',
    'aria-disabled:cursor-not-allowed aria-disabled:opacity-50 motion-safe:transition-colors',
    className,
  )}
>
  <slot />
  <div
    class={twJoin(
      'hidden size-1.5 shrink-0 rounded-full bg-current group-aria-checked:block',
      'animate-in motion-safe:fade-in-0 motion-safe:zoom-in-75',
    )}
  >
  </div>
</div>
