---
import type { HTMLAttributes } from 'astro/types';
import { twMerge } from 'tailwind-merge';

type Props = HTMLAttributes<'div'> & { disabled?: boolean };

const { class: className, disabled, ...props } = Astro.props;
---

<div
  {...props}
  id={crypto.randomUUID()}
  role="menuitem"
  data-focused="false"
  aria-disabled={disabled ? 'true' : 'false'}
  class={twMerge(
    'flex cursor-pointer items-center justify-between gap-2 rounded px-2 py-1',
    'aria-[disabled=false]:hover:bg-surface-neutral/80 data-[focused=true]:bg-surface-neutral/80',
    'aria-disabled:cursor-not-allowed aria-disabled:opacity-50 motion-safe:transition-colors',
    className,
  )}
>
  <slot />
</div>
