---
import type { HTMLAttributes } from 'astro/types';
import { twMerge } from 'tailwind-merge';

type Props = HTMLAttributes<'span'>;

const { class: className, ...props } = Astro.props;
---

<div {...props} class={twMerge('border-b px-2 pb-2 pt-1 font-medium', className)}>
  <slot />
</div>
