---
import Heading from '@phantom/docs/components/heading.astro';
import Layout from '@phantom/docs/layouts/components.astro';
import * as Code from '@phantom/ui/code';
import type { GetStaticPaths, InferGetStaticPropsType } from 'astro';
import { getCollection } from 'astro:content';

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

export const getStaticPaths = (async () => {
  const components = await getCollection('components');
  return components.map((props) => ({ params: { component: props.slug }, props }));
}) satisfies GetStaticPaths;

const component = Astro.props;
const { Content } = await component.render();
---

<Layout {...component}>
  <div class="flex flex-col gap-4">
    <Content components={{ h2: Heading, figure: Code.Block, code: Code.Inline }} />
  </div>
</Layout>
